/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap");

/* VARIABLES */

:root {
	--red: #c72727;
	--orange: #f99500;
	--light: #f3f3f3;
	--dark: #333;
	--max-width: 1100px;
}

.category {
	--sports-color: var(--orange);
	--ent-color: #a66bbe;
	--tech-color: #009cff;
}

/* BASE/RESET */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: "Lato", sans-serif;
	line-height: 1.5;
	background: var(--light);
}

ul {
	list-style: none;
}

a {
	color: var(--dark);
	text-decoration: none;
}

img {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Bebas Neue", cursive;
	margin-bottom: 0.55rem;
	line-height: 1.3;
	text-transform: uppercase;
}

p {
	margin: 0.5rem 0;
}

/* GLOBAL */

.container {
	max-width: var(--max-width);
	margin: auto;
	padding: 0 2rem;
	overflow: hidden;
}

.py-2 {
	padding: 2rem 0;
}
.text-white {
	color: white;
}

.card {
	background: white;
	padding: 1rem;
}

.bg-red {
	background: var(--red);
}

.bg-orange {
	background: var(--orange);
}

.bg-dark {
	background: var(--dark);
}

.btn {
	color: white;
	background: var(--dark);
	display: inline-block;
	padding: 0.5rem 1.5rem;
}

.btn:hover {
	opacity: 0.9;
}

.btn-red {
	background: var(--red);
}

.btn-orange {
	background: var(--orange);
}

.btn-block {
	width: 100%;
}

/* NAVBAR */

.navbar {
	background: white;
	position: sticky;
	top: 0;
	z-index: 999;
}

.nav-grid {
	display: grid;
	grid-template-columns: 6fr 3fr 2fr;
	padding: 1rem;
	align-items: center;
}

.logo {
	width: 180px;
}

.sns {
	justify-self: center;
}

.sns-link {
	color: #777;
	margin-right: 0.5rem;
}

.nav-items {
	justify-self: end;
	display: flex;
}

.nav-link {
	padding: 0.75rem;
	font-weight: bold;
}

.nav-link:hover {
	background: var(--light);
	color: var(--dark);
}

.current {
	background: var(--red);
	color: white;
}

/* CATEGORY */

.category {
	display: inline-block;
	color: white;
	text-transform: uppercase;
	font-size: 0.55rem;
	padding: 0.4rem 0.6rem;
	border-radius: 15px;
	margin-bottom: 0.55rem;
}

.category-sports {
	background: var(--sports-color);
}

.category-ent {
	background: var(--ent-color);
}

.category-tech {
	background: var(--tech-color);
}

/* SHOWCASE */

.showcase {
	background: var(--dark);
	padding: 2rem;
	position: relative;
}

.showcase::before {
	content: "";
	background: url("../img/featured.jpg") no-repeat center center/cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
}

.showcase-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.showcase-content {
	z-index: 1;
	margin-bottom: 1rem;
}

.showcase-desc {
	margin-bottom: 1rem;
}

/* ARTICLES */

.articles-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.articles-grid > *:first-child,
.articles-grid > *:last-child {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	align-items: center;
}

.articles-grid > *:first-child {
	grid-column: 1 / span 2;
}

.articles-grid > *:last-child {
	grid-column: 2 / span 2;
}
